$primary-color: rgb(83, 83, 220);
$black-color: #292929;
$link-color: #535066;
$text-color: #262C33;
$white-color: #fff;
$border-color: #DFDFDF;

$html-color: #DD4B25;
$css-color: #254BDD;
$react-color: #5ED3F3;
$angular-color: #BD002E;
$vuejs-color: #3FB27F;
$js-color: #EFD81D;