// form search navbar
.form-search {
   width: 100%;
   height: 100%;
   @include flex-end;
   display: none;
   
   .form-group {
       @include form-group;
       @include flex-end;
       position: relative;
   }

   span{
       position: absolute;
       right: 0;
       top: 0;
       height: 100%;
       display: flex;
       align-items: center;
       font-size: 1.6rem;
   }
   .form-control {
       @include form-control;
       width: 94%;
       margin-right: 2px;
       padding: 11px 12px;
       border: 1px solid rgba($color: $black-color, $alpha: 0.9);
       border-radius: 4px;
   }

   button {
       padding: 11px 30px;
       border: 1px solid rgba($color: $black-color, $alpha: 0.9);
       border-radius: 4px;
   }
}
