@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,400&display=swap");
.heading {
  font-size: 2rem;
  padding: 0;
  margin: 0;
  line-height: 2rem;
  font-weight: 700; }

.list-group, .list-group-item {
  padding: 24px;
  border-radius: 2px;
  border: #DFDFDF 1px solid; }
  .list-group-item {
    padding: 8px 16px;
    border-bottom: 0px; }
    .list-group-item:last-child {
      border-bottom: 1px solid #DFDFDF; }

* {
  box-sizing: border-box; }

html {
  font-family: 'Open Sans', sans-serif;
  font-size: 62.5%;
  line-height: 1.6rem; }

body {
  margin: 0; }

main, section {
  display: block; }

ul {
  list-style: none;
  margin-left: 0; }

a {
  text-decoration: none;
  color: #535066; }

p, span, ul, li, a {
  padding: 0;
  margin: 0;
  font-size: 1.6rem; }

input, button, select {
  outline: none;
  padding: 8px 12px;
  font-size: 1.4rem; }

.active {
  color: #5353dc !important; }

.text-light {
  color: #fff !important; }

.text-primary {
  color: #5353dc !important; }

.text-center {
  text-align: center; }

.bg-primary {
  background-color: #5353dc; }

.bg-blue {
  background-color: blue; }

.bg-dark {
  background-color: #292929; }

.bg-none {
  background-color: transparent !important; }

.fz-0 {
  font-size: 0rem; }

.fz-1 {
  font-size: 0.4rem; }

.fz-2 {
  font-size: 0.8rem; }

.fz-3 {
  font-size: 1.2rem; }

.fz-4 {
  font-size: 1.6rem; }

.fz-5 {
  font-size: 2rem; }

.fz-6 {
  font-size: 2.4rem; }

.fz-7 {
  font-size: 2.8rem; }

.fz-8 {
  font-size: 3.2rem; }

.fz-9 {
  font-size: 3.6rem; }

.fz-10 {
  font-size: 4rem; }

.fz-11 {
  font-size: 4.4rem; }

.border-radius {
  border-radius: 4px; }

.border {
  border: 1px solid #DFDFDF; }
  .border-none {
    border: 0 !important; }
  .border-bottom {
    border-bottom: 1px solid #DFDFDF !important; }
    .border-bottom-none {
      border-bottom-width: 0 !important; }
  .border-top {
    border-top: 1px solid #DFDFDF !important; }
    .border-top-none {
      border-top-width: 0 !important; }
  .border-left {
    border-left: 1px solid #DFDFDF !important; }
    .border-left-none {
      border-left-width: 0 !important; }
  .border-right {
    border-right: 1px solid #DFDFDF !important; }
    .border-right-none {
      border-right-width: 0 !important; }

.d-flex {
  display: flex !important; }

.justify-content-between {
  justify-content: space-between !important; }

.justify-content-center {
  justify-content: center !important; }

.justify-content-end {
  justify-content: flex-end; }

.align-items-center {
  align-items: center !important; }

.w-100 {
  width: 100% !important; }

.d-none {
  display: none !important; }

.d-block {
  display: block !important; }

.p-relative {
  position: relative; }

.p-absolute {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

#user {
  z-index: 123123123; }

.mg-0 {
  margin: 0; }

.mx-0 {
  margin-left: 0rem;
  margin-right: 0rem; }

.my-0 {
  margin-top: 0rem;
  margin-bottom: 0rem; }

.mt-0 {
  margin-top: 0rem; }

.mr-0 {
  margin-right: 0rem; }

.mb-0 {
  margin-bottom: 0rem; }

.ml-0 {
  margin-left: 0rem; }

.mx-1 {
  margin-left: 0.4rem;
  margin-right: 0.4rem; }

.my-1 {
  margin-top: 0.4rem;
  margin-bottom: 0.4rem; }

.mt-1 {
  margin-top: 0.4rem; }

.mr-1 {
  margin-right: 0.4rem; }

.mb-1 {
  margin-bottom: 0.4rem; }

.ml-1 {
  margin-left: 0.4rem; }

.mx-2 {
  margin-left: 0.8rem;
  margin-right: 0.8rem; }

.my-2 {
  margin-top: 0.8rem;
  margin-bottom: 0.8rem; }

.mt-2 {
  margin-top: 0.8rem; }

.mr-2 {
  margin-right: 0.8rem; }

.mb-2 {
  margin-bottom: 0.8rem; }

.ml-2 {
  margin-left: 0.8rem; }

.mx-3 {
  margin-left: 1.2rem;
  margin-right: 1.2rem; }

.my-3 {
  margin-top: 1.2rem;
  margin-bottom: 1.2rem; }

.mt-3 {
  margin-top: 1.2rem; }

.mr-3 {
  margin-right: 1.2rem; }

.mb-3 {
  margin-bottom: 1.2rem; }

.ml-3 {
  margin-left: 1.2rem; }

.mx-4 {
  margin-left: 1.6rem;
  margin-right: 1.6rem; }

.my-4 {
  margin-top: 1.6rem;
  margin-bottom: 1.6rem; }

.mt-4 {
  margin-top: 1.6rem; }

.mr-4 {
  margin-right: 1.6rem; }

.mb-4 {
  margin-bottom: 1.6rem; }

.ml-4 {
  margin-left: 1.6rem; }

.mx-5 {
  margin-left: 2rem;
  margin-right: 2rem; }

.my-5 {
  margin-top: 2rem;
  margin-bottom: 2rem; }

.mt-5 {
  margin-top: 2rem; }

.mr-5 {
  margin-right: 2rem; }

.mb-5 {
  margin-bottom: 2rem; }

.ml-5 {
  margin-left: 2rem; }

.mx-6 {
  margin-left: 2.4rem;
  margin-right: 2.4rem; }

.my-6 {
  margin-top: 2.4rem;
  margin-bottom: 2.4rem; }

.mt-6 {
  margin-top: 2.4rem; }

.mr-6 {
  margin-right: 2.4rem; }

.mb-6 {
  margin-bottom: 2.4rem; }

.ml-6 {
  margin-left: 2.4rem; }

.mx-7 {
  margin-left: 2.8rem;
  margin-right: 2.8rem; }

.my-7 {
  margin-top: 2.8rem;
  margin-bottom: 2.8rem; }

.mt-7 {
  margin-top: 2.8rem; }

.mr-7 {
  margin-right: 2.8rem; }

.mb-7 {
  margin-bottom: 2.8rem; }

.ml-7 {
  margin-left: 2.8rem; }

.mx-8 {
  margin-left: 3.2rem;
  margin-right: 3.2rem; }

.my-8 {
  margin-top: 3.2rem;
  margin-bottom: 3.2rem; }

.mt-8 {
  margin-top: 3.2rem; }

.mr-8 {
  margin-right: 3.2rem; }

.mb-8 {
  margin-bottom: 3.2rem; }

.ml-8 {
  margin-left: 3.2rem; }

.mx-9 {
  margin-left: 3.6rem;
  margin-right: 3.6rem; }

.my-9 {
  margin-top: 3.6rem;
  margin-bottom: 3.6rem; }

.mt-9 {
  margin-top: 3.6rem; }

.mr-9 {
  margin-right: 3.6rem; }

.mb-9 {
  margin-bottom: 3.6rem; }

.ml-9 {
  margin-left: 3.6rem; }

.mx-10 {
  margin-left: 4rem;
  margin-right: 4rem; }

.my-10 {
  margin-top: 4rem;
  margin-bottom: 4rem; }

.mt-10 {
  margin-top: 4rem; }

.mr-10 {
  margin-right: 4rem; }

.mb-10 {
  margin-bottom: 4rem; }

.ml-10 {
  margin-left: 4rem; }

.mx-11 {
  margin-left: 4.4rem;
  margin-right: 4.4rem; }

.my-11 {
  margin-top: 4.4rem;
  margin-bottom: 4.4rem; }

.mt-11 {
  margin-top: 4.4rem; }

.mr-11 {
  margin-right: 4.4rem; }

.mb-11 {
  margin-bottom: 4.4rem; }

.ml-11 {
  margin-left: 4.4rem; }

.mx-12 {
  margin-left: 4.8rem;
  margin-right: 4.8rem; }

.my-12 {
  margin-top: 4.8rem;
  margin-bottom: 4.8rem; }

.mt-12 {
  margin-top: 4.8rem; }

.mr-12 {
  margin-right: 4.8rem; }

.mb-12 {
  margin-bottom: 4.8rem; }

.ml-12 {
  margin-left: 4.8rem; }

.pd-0 {
  padding: 0; }

.px-0 {
  padding-left: 0rem;
  padding-right: 0rem; }

.py-0 {
  padding-top: 0rem;
  padding-bottom: 0rem; }

.pt-0 {
  padding-top: 0rem; }

.pr-0 {
  padding-right: 0rem; }

.pb-0 {
  padding-bottom: 0rem; }

.pl-0 {
  padding-left: 0rem; }

.px-1 {
  padding-left: 0.4rem;
  padding-right: 0.4rem; }

.py-1 {
  padding-top: 0.4rem;
  padding-bottom: 0.4rem; }

.pt-1 {
  padding-top: 0.4rem; }

.pr-1 {
  padding-right: 0.4rem; }

.pb-1 {
  padding-bottom: 0.4rem; }

.pl-1 {
  padding-left: 0.4rem; }

.px-2 {
  padding-left: 0.8rem;
  padding-right: 0.8rem; }

.py-2 {
  padding-top: 0.8rem;
  padding-bottom: 0.8rem; }

.pt-2 {
  padding-top: 0.8rem; }

.pr-2 {
  padding-right: 0.8rem; }

.pb-2 {
  padding-bottom: 0.8rem; }

.pl-2 {
  padding-left: 0.8rem; }

.px-3 {
  padding-left: 1.2rem;
  padding-right: 1.2rem; }

.py-3 {
  padding-top: 1.2rem;
  padding-bottom: 1.2rem; }

.pt-3 {
  padding-top: 1.2rem; }

.pr-3 {
  padding-right: 1.2rem; }

.pb-3 {
  padding-bottom: 1.2rem; }

.pl-3 {
  padding-left: 1.2rem; }

.px-4 {
  padding-left: 1.6rem;
  padding-right: 1.6rem; }

.py-4 {
  padding-top: 1.6rem;
  padding-bottom: 1.6rem; }

.pt-4 {
  padding-top: 1.6rem; }

.pr-4 {
  padding-right: 1.6rem; }

.pb-4 {
  padding-bottom: 1.6rem; }

.pl-4 {
  padding-left: 1.6rem; }

.px-5 {
  padding-left: 2rem;
  padding-right: 2rem; }

.py-5 {
  padding-top: 2rem;
  padding-bottom: 2rem; }

.pt-5 {
  padding-top: 2rem; }

.pr-5 {
  padding-right: 2rem; }

.pb-5 {
  padding-bottom: 2rem; }

.pl-5 {
  padding-left: 2rem; }

.px-6 {
  padding-left: 2.4rem;
  padding-right: 2.4rem; }

.py-6 {
  padding-top: 2.4rem;
  padding-bottom: 2.4rem; }

.pt-6 {
  padding-top: 2.4rem; }

.pr-6 {
  padding-right: 2.4rem; }

.pb-6 {
  padding-bottom: 2.4rem; }

.pl-6 {
  padding-left: 2.4rem; }

.px-7 {
  padding-left: 2.8rem;
  padding-right: 2.8rem; }

.py-7 {
  padding-top: 2.8rem;
  padding-bottom: 2.8rem; }

.pt-7 {
  padding-top: 2.8rem; }

.pr-7 {
  padding-right: 2.8rem; }

.pb-7 {
  padding-bottom: 2.8rem; }

.pl-7 {
  padding-left: 2.8rem; }

.px-8 {
  padding-left: 3.2rem;
  padding-right: 3.2rem; }

.py-8 {
  padding-top: 3.2rem;
  padding-bottom: 3.2rem; }

.pt-8 {
  padding-top: 3.2rem; }

.pr-8 {
  padding-right: 3.2rem; }

.pb-8 {
  padding-bottom: 3.2rem; }

.pl-8 {
  padding-left: 3.2rem; }

.px-9 {
  padding-left: 3.6rem;
  padding-right: 3.6rem; }

.py-9 {
  padding-top: 3.6rem;
  padding-bottom: 3.6rem; }

.pt-9 {
  padding-top: 3.6rem; }

.pr-9 {
  padding-right: 3.6rem; }

.pb-9 {
  padding-bottom: 3.6rem; }

.pl-9 {
  padding-left: 3.6rem; }

.px-10 {
  padding-left: 4rem;
  padding-right: 4rem; }

.py-10 {
  padding-top: 4rem;
  padding-bottom: 4rem; }

.pt-10 {
  padding-top: 4rem; }

.pr-10 {
  padding-right: 4rem; }

.pb-10 {
  padding-bottom: 4rem; }

.pl-10 {
  padding-left: 4rem; }

.px-11 {
  padding-left: 4.4rem;
  padding-right: 4.4rem; }

.py-11 {
  padding-top: 4.4rem;
  padding-bottom: 4.4rem; }

.pt-11 {
  padding-top: 4.4rem; }

.pr-11 {
  padding-right: 4.4rem; }

.pb-11 {
  padding-bottom: 4.4rem; }

.pl-11 {
  padding-left: 4.4rem; }

@media screen and (min-width: 740px) {
  .mg-0 {
    margin: 0; }
  .mx-md-0 {
    margin-left: 0rem;
    margin-right: 0rem; }
  .my-md-0 {
    margin-top: 0rem;
    margin-bottom: 0rem; }
  .mt-md-0 {
    margin-top: 0rem; }
  .mr-md-0 {
    margin-right: 0rem; }
  .mb-md-0 {
    margin-bottom: 0rem; }
  .ml-md-0 {
    margin-left: 0rem; }
  .mx-md-1 {
    margin-left: 0.4rem;
    margin-right: 0.4rem; }
  .my-md-1 {
    margin-top: 0.4rem;
    margin-bottom: 0.4rem; }
  .mt-md-1 {
    margin-top: 0.4rem; }
  .mr-md-1 {
    margin-right: 0.4rem; }
  .mb-md-1 {
    margin-bottom: 0.4rem; }
  .ml-md-1 {
    margin-left: 0.4rem; }
  .mx-md-2 {
    margin-left: 0.8rem;
    margin-right: 0.8rem; }
  .my-md-2 {
    margin-top: 0.8rem;
    margin-bottom: 0.8rem; }
  .mt-md-2 {
    margin-top: 0.8rem; }
  .mr-md-2 {
    margin-right: 0.8rem; }
  .mb-md-2 {
    margin-bottom: 0.8rem; }
  .ml-md-2 {
    margin-left: 0.8rem; }
  .mx-md-3 {
    margin-left: 1.2rem;
    margin-right: 1.2rem; }
  .my-md-3 {
    margin-top: 1.2rem;
    margin-bottom: 1.2rem; }
  .mt-md-3 {
    margin-top: 1.2rem; }
  .mr-md-3 {
    margin-right: 1.2rem; }
  .mb-md-3 {
    margin-bottom: 1.2rem; }
  .ml-md-3 {
    margin-left: 1.2rem; }
  .mx-md-4 {
    margin-left: 1.6rem;
    margin-right: 1.6rem; }
  .my-md-4 {
    margin-top: 1.6rem;
    margin-bottom: 1.6rem; }
  .mt-md-4 {
    margin-top: 1.6rem; }
  .mr-md-4 {
    margin-right: 1.6rem; }
  .mb-md-4 {
    margin-bottom: 1.6rem; }
  .ml-md-4 {
    margin-left: 1.6rem; }
  .mx-md-5 {
    margin-left: 2rem;
    margin-right: 2rem; }
  .my-md-5 {
    margin-top: 2rem;
    margin-bottom: 2rem; }
  .mt-md-5 {
    margin-top: 2rem; }
  .mr-md-5 {
    margin-right: 2rem; }
  .mb-md-5 {
    margin-bottom: 2rem; }
  .ml-md-5 {
    margin-left: 2rem; }
  .mx-md-6 {
    margin-left: 2.4rem;
    margin-right: 2.4rem; }
  .my-md-6 {
    margin-top: 2.4rem;
    margin-bottom: 2.4rem; }
  .mt-md-6 {
    margin-top: 2.4rem; }
  .mr-md-6 {
    margin-right: 2.4rem; }
  .mb-md-6 {
    margin-bottom: 2.4rem; }
  .ml-md-6 {
    margin-left: 2.4rem; }
  .mx-md-7 {
    margin-left: 2.8rem;
    margin-right: 2.8rem; }
  .my-md-7 {
    margin-top: 2.8rem;
    margin-bottom: 2.8rem; }
  .mt-md-7 {
    margin-top: 2.8rem; }
  .mr-md-7 {
    margin-right: 2.8rem; }
  .mb-md-7 {
    margin-bottom: 2.8rem; }
  .ml-md-7 {
    margin-left: 2.8rem; }
  .mx-md-8 {
    margin-left: 3.2rem;
    margin-right: 3.2rem; }
  .my-md-8 {
    margin-top: 3.2rem;
    margin-bottom: 3.2rem; }
  .mt-md-8 {
    margin-top: 3.2rem; }
  .mr-md-8 {
    margin-right: 3.2rem; }
  .mb-md-8 {
    margin-bottom: 3.2rem; }
  .ml-md-8 {
    margin-left: 3.2rem; }
  .mx-md-9 {
    margin-left: 3.6rem;
    margin-right: 3.6rem; }
  .my-md-9 {
    margin-top: 3.6rem;
    margin-bottom: 3.6rem; }
  .mt-md-9 {
    margin-top: 3.6rem; }
  .mr-md-9 {
    margin-right: 3.6rem; }
  .mb-md-9 {
    margin-bottom: 3.6rem; }
  .ml-md-9 {
    margin-left: 3.6rem; }
  .mx-md-10 {
    margin-left: 4rem;
    margin-right: 4rem; }
  .my-md-10 {
    margin-top: 4rem;
    margin-bottom: 4rem; }
  .mt-md-10 {
    margin-top: 4rem; }
  .mr-md-10 {
    margin-right: 4rem; }
  .mb-md-10 {
    margin-bottom: 4rem; }
  .ml-md-10 {
    margin-left: 4rem; }
  .mx-md-11 {
    margin-left: 4.4rem;
    margin-right: 4.4rem; }
  .my-md-11 {
    margin-top: 4.4rem;
    margin-bottom: 4.4rem; }
  .mt-md-11 {
    margin-top: 4.4rem; }
  .mr-md-11 {
    margin-right: 4.4rem; }
  .mb-md-11 {
    margin-bottom: 4.4rem; }
  .ml-md-11 {
    margin-left: 4.4rem; }
  .mx-md-12 {
    margin-left: 4.8rem;
    margin-right: 4.8rem; }
  .my-md-12 {
    margin-top: 4.8rem;
    margin-bottom: 4.8rem; }
  .mt-md-12 {
    margin-top: 4.8rem; }
  .mr-md-12 {
    margin-right: 4.8rem; }
  .mb-md-12 {
    margin-bottom: 4.8rem; }
  .ml-md-12 {
    margin-left: 4.8rem; }
  .pd-0 {
    padding: 0; }
  .px-md-0 {
    padding-left: 0rem;
    padding-right: 0rem; }
  .py-md-0 {
    padding-top: 0rem;
    padding-bottom: 0rem; }
  .pt-md-0 {
    padding-top: 0rem; }
  .pr-md-0 {
    padding-right: 0rem; }
  .pb-md-0 {
    padding-bottom: 0rem; }
  .pl-md-0 {
    padding-left: 0rem; }
  .px-md-1 {
    padding-left: 0.4rem;
    padding-right: 0.4rem; }
  .py-md-1 {
    padding-top: 0.4rem;
    padding-bottom: 0.4rem; }
  .pt-md-1 {
    padding-top: 0.4rem; }
  .pr-md-1 {
    padding-right: 0.4rem; }
  .pb-md-1 {
    padding-bottom: 0.4rem; }
  .pl-md-1 {
    padding-left: 0.4rem; }
  .px-md-2 {
    padding-left: 0.8rem;
    padding-right: 0.8rem; }
  .py-md-2 {
    padding-top: 0.8rem;
    padding-bottom: 0.8rem; }
  .pt-md-2 {
    padding-top: 0.8rem; }
  .pr-md-2 {
    padding-right: 0.8rem; }
  .pb-md-2 {
    padding-bottom: 0.8rem; }
  .pl-md-2 {
    padding-left: 0.8rem; }
  .px-md-3 {
    padding-left: 1.2rem;
    padding-right: 1.2rem; }
  .py-md-3 {
    padding-top: 1.2rem;
    padding-bottom: 1.2rem; }
  .pt-md-3 {
    padding-top: 1.2rem; }
  .pr-md-3 {
    padding-right: 1.2rem; }
  .pb-md-3 {
    padding-bottom: 1.2rem; }
  .pl-md-3 {
    padding-left: 1.2rem; }
  .px-md-4 {
    padding-left: 1.6rem;
    padding-right: 1.6rem; }
  .py-md-4 {
    padding-top: 1.6rem;
    padding-bottom: 1.6rem; }
  .pt-md-4 {
    padding-top: 1.6rem; }
  .pr-md-4 {
    padding-right: 1.6rem; }
  .pb-md-4 {
    padding-bottom: 1.6rem; }
  .pl-md-4 {
    padding-left: 1.6rem; }
  .px-md-5 {
    padding-left: 2rem;
    padding-right: 2rem; }
  .py-md-5 {
    padding-top: 2rem;
    padding-bottom: 2rem; }
  .pt-md-5 {
    padding-top: 2rem; }
  .pr-md-5 {
    padding-right: 2rem; }
  .pb-md-5 {
    padding-bottom: 2rem; }
  .pl-md-5 {
    padding-left: 2rem; }
  .px-md-6 {
    padding-left: 2.4rem;
    padding-right: 2.4rem; }
  .py-md-6 {
    padding-top: 2.4rem;
    padding-bottom: 2.4rem; }
  .pt-md-6 {
    padding-top: 2.4rem; }
  .pr-md-6 {
    padding-right: 2.4rem; }
  .pb-md-6 {
    padding-bottom: 2.4rem; }
  .pl-md-6 {
    padding-left: 2.4rem; }
  .px-md-7 {
    padding-left: 2.8rem;
    padding-right: 2.8rem; }
  .py-md-7 {
    padding-top: 2.8rem;
    padding-bottom: 2.8rem; }
  .pt-md-7 {
    padding-top: 2.8rem; }
  .pr-md-7 {
    padding-right: 2.8rem; }
  .pb-md-7 {
    padding-bottom: 2.8rem; }
  .pl-md-7 {
    padding-left: 2.8rem; }
  .px-md-8 {
    padding-left: 3.2rem;
    padding-right: 3.2rem; }
  .py-md-8 {
    padding-top: 3.2rem;
    padding-bottom: 3.2rem; }
  .pt-md-8 {
    padding-top: 3.2rem; }
  .pr-md-8 {
    padding-right: 3.2rem; }
  .pb-md-8 {
    padding-bottom: 3.2rem; }
  .pl-md-8 {
    padding-left: 3.2rem; }
  .px-md-9 {
    padding-left: 3.6rem;
    padding-right: 3.6rem; }
  .py-md-9 {
    padding-top: 3.6rem;
    padding-bottom: 3.6rem; }
  .pt-md-9 {
    padding-top: 3.6rem; }
  .pr-md-9 {
    padding-right: 3.6rem; }
  .pb-md-9 {
    padding-bottom: 3.6rem; }
  .pl-md-9 {
    padding-left: 3.6rem; }
  .px-md-10 {
    padding-left: 4rem;
    padding-right: 4rem; }
  .py-md-10 {
    padding-top: 4rem;
    padding-bottom: 4rem; }
  .pt-md-10 {
    padding-top: 4rem; }
  .pr-md-10 {
    padding-right: 4rem; }
  .pb-md-10 {
    padding-bottom: 4rem; }
  .pl-md-10 {
    padding-left: 4rem; }
  .px-md-11 {
    padding-left: 4.4rem;
    padding-right: 4.4rem; }
  .py-md-11 {
    padding-top: 4.4rem;
    padding-bottom: 4.4rem; }
  .pt-md-11 {
    padding-top: 4.4rem; }
  .pr-md-11 {
    padding-right: 4.4rem; }
  .pb-md-11 {
    padding-bottom: 4.4rem; }
  .pl-md-11 {
    padding-left: 4.4rem; } }

@media screen and (min-width: 1113px) {
  .mg-0 {
    margin: 0; }
  .mx-lg-0 {
    margin-left: 0rem;
    margin-right: 0rem; }
  .my-lg-0 {
    margin-top: 0rem;
    margin-bottom: 0rem; }
  .mt-lg-0 {
    margin-top: 0rem; }
  .mr-lg-0 {
    margin-right: 0rem; }
  .mb-lg-0 {
    margin-bottom: 0rem; }
  .ml-lg-0 {
    margin-left: 0rem; }
  .mx-lg-1 {
    margin-left: 0.4rem;
    margin-right: 0.4rem; }
  .my-lg-1 {
    margin-top: 0.4rem;
    margin-bottom: 0.4rem; }
  .mt-lg-1 {
    margin-top: 0.4rem; }
  .mr-lg-1 {
    margin-right: 0.4rem; }
  .mb-lg-1 {
    margin-bottom: 0.4rem; }
  .ml-lg-1 {
    margin-left: 0.4rem; }
  .mx-lg-2 {
    margin-left: 0.8rem;
    margin-right: 0.8rem; }
  .my-lg-2 {
    margin-top: 0.8rem;
    margin-bottom: 0.8rem; }
  .mt-lg-2 {
    margin-top: 0.8rem; }
  .mr-lg-2 {
    margin-right: 0.8rem; }
  .mb-lg-2 {
    margin-bottom: 0.8rem; }
  .ml-lg-2 {
    margin-left: 0.8rem; }
  .mx-lg-3 {
    margin-left: 1.2rem;
    margin-right: 1.2rem; }
  .my-lg-3 {
    margin-top: 1.2rem;
    margin-bottom: 1.2rem; }
  .mt-lg-3 {
    margin-top: 1.2rem; }
  .mr-lg-3 {
    margin-right: 1.2rem; }
  .mb-lg-3 {
    margin-bottom: 1.2rem; }
  .ml-lg-3 {
    margin-left: 1.2rem; }
  .mx-lg-4 {
    margin-left: 1.6rem;
    margin-right: 1.6rem; }
  .my-lg-4 {
    margin-top: 1.6rem;
    margin-bottom: 1.6rem; }
  .mt-lg-4 {
    margin-top: 1.6rem; }
  .mr-lg-4 {
    margin-right: 1.6rem; }
  .mb-lg-4 {
    margin-bottom: 1.6rem; }
  .ml-lg-4 {
    margin-left: 1.6rem; }
  .mx-lg-5 {
    margin-left: 2rem;
    margin-right: 2rem; }
  .my-lg-5 {
    margin-top: 2rem;
    margin-bottom: 2rem; }
  .mt-lg-5 {
    margin-top: 2rem; }
  .mr-lg-5 {
    margin-right: 2rem; }
  .mb-lg-5 {
    margin-bottom: 2rem; }
  .ml-lg-5 {
    margin-left: 2rem; }
  .mx-lg-6 {
    margin-left: 2.4rem;
    margin-right: 2.4rem; }
  .my-lg-6 {
    margin-top: 2.4rem;
    margin-bottom: 2.4rem; }
  .mt-lg-6 {
    margin-top: 2.4rem; }
  .mr-lg-6 {
    margin-right: 2.4rem; }
  .mb-lg-6 {
    margin-bottom: 2.4rem; }
  .ml-lg-6 {
    margin-left: 2.4rem; }
  .mx-lg-7 {
    margin-left: 2.8rem;
    margin-right: 2.8rem; }
  .my-lg-7 {
    margin-top: 2.8rem;
    margin-bottom: 2.8rem; }
  .mt-lg-7 {
    margin-top: 2.8rem; }
  .mr-lg-7 {
    margin-right: 2.8rem; }
  .mb-lg-7 {
    margin-bottom: 2.8rem; }
  .ml-lg-7 {
    margin-left: 2.8rem; }
  .mx-lg-8 {
    margin-left: 3.2rem;
    margin-right: 3.2rem; }
  .my-lg-8 {
    margin-top: 3.2rem;
    margin-bottom: 3.2rem; }
  .mt-lg-8 {
    margin-top: 3.2rem; }
  .mr-lg-8 {
    margin-right: 3.2rem; }
  .mb-lg-8 {
    margin-bottom: 3.2rem; }
  .ml-lg-8 {
    margin-left: 3.2rem; }
  .mx-lg-9 {
    margin-left: 3.6rem;
    margin-right: 3.6rem; }
  .my-lg-9 {
    margin-top: 3.6rem;
    margin-bottom: 3.6rem; }
  .mt-lg-9 {
    margin-top: 3.6rem; }
  .mr-lg-9 {
    margin-right: 3.6rem; }
  .mb-lg-9 {
    margin-bottom: 3.6rem; }
  .ml-lg-9 {
    margin-left: 3.6rem; }
  .mx-lg-10 {
    margin-left: 4rem;
    margin-right: 4rem; }
  .my-lg-10 {
    margin-top: 4rem;
    margin-bottom: 4rem; }
  .mt-lg-10 {
    margin-top: 4rem; }
  .mr-lg-10 {
    margin-right: 4rem; }
  .mb-lg-10 {
    margin-bottom: 4rem; }
  .ml-lg-10 {
    margin-left: 4rem; }
  .mx-lg-11 {
    margin-left: 4.4rem;
    margin-right: 4.4rem; }
  .my-lg-11 {
    margin-top: 4.4rem;
    margin-bottom: 4.4rem; }
  .mt-lg-11 {
    margin-top: 4.4rem; }
  .mr-lg-11 {
    margin-right: 4.4rem; }
  .mb-lg-11 {
    margin-bottom: 4.4rem; }
  .ml-lg-11 {
    margin-left: 4.4rem; }
  .mx-lg-12 {
    margin-left: 4.8rem;
    margin-right: 4.8rem; }
  .my-lg-12 {
    margin-top: 4.8rem;
    margin-bottom: 4.8rem; }
  .mt-lg-12 {
    margin-top: 4.8rem; }
  .mr-lg-12 {
    margin-right: 4.8rem; }
  .mb-lg-12 {
    margin-bottom: 4.8rem; }
  .ml-lg-12 {
    margin-left: 4.8rem; }
  .pd-0 {
    padding: 0; }
  .px-lg-0 {
    padding-left: 0rem;
    padding-right: 0rem; }
  .py-lg-0 {
    padding-top: 0rem;
    padding-bottom: 0rem; }
  .pt-lg-0 {
    padding-top: 0rem; }
  .pr-lg-0 {
    padding-right: 0rem; }
  .pb-lg-0 {
    padding-bottom: 0rem; }
  .pl-lg-0 {
    padding-left: 0rem; }
  .px-lg-1 {
    padding-left: 0.4rem;
    padding-right: 0.4rem; }
  .py-lg-1 {
    padding-top: 0.4rem;
    padding-bottom: 0.4rem; }
  .pt-lg-1 {
    padding-top: 0.4rem; }
  .pr-lg-1 {
    padding-right: 0.4rem; }
  .pb-lg-1 {
    padding-bottom: 0.4rem; }
  .pl-lg-1 {
    padding-left: 0.4rem; }
  .px-lg-2 {
    padding-left: 0.8rem;
    padding-right: 0.8rem; }
  .py-lg-2 {
    padding-top: 0.8rem;
    padding-bottom: 0.8rem; }
  .pt-lg-2 {
    padding-top: 0.8rem; }
  .pr-lg-2 {
    padding-right: 0.8rem; }
  .pb-lg-2 {
    padding-bottom: 0.8rem; }
  .pl-lg-2 {
    padding-left: 0.8rem; }
  .px-lg-3 {
    padding-left: 1.2rem;
    padding-right: 1.2rem; }
  .py-lg-3 {
    padding-top: 1.2rem;
    padding-bottom: 1.2rem; }
  .pt-lg-3 {
    padding-top: 1.2rem; }
  .pr-lg-3 {
    padding-right: 1.2rem; }
  .pb-lg-3 {
    padding-bottom: 1.2rem; }
  .pl-lg-3 {
    padding-left: 1.2rem; }
  .px-lg-4 {
    padding-left: 1.6rem;
    padding-right: 1.6rem; }
  .py-lg-4 {
    padding-top: 1.6rem;
    padding-bottom: 1.6rem; }
  .pt-lg-4 {
    padding-top: 1.6rem; }
  .pr-lg-4 {
    padding-right: 1.6rem; }
  .pb-lg-4 {
    padding-bottom: 1.6rem; }
  .pl-lg-4 {
    padding-left: 1.6rem; }
  .px-lg-5 {
    padding-left: 2rem;
    padding-right: 2rem; }
  .py-lg-5 {
    padding-top: 2rem;
    padding-bottom: 2rem; }
  .pt-lg-5 {
    padding-top: 2rem; }
  .pr-lg-5 {
    padding-right: 2rem; }
  .pb-lg-5 {
    padding-bottom: 2rem; }
  .pl-lg-5 {
    padding-left: 2rem; }
  .px-lg-6 {
    padding-left: 2.4rem;
    padding-right: 2.4rem; }
  .py-lg-6 {
    padding-top: 2.4rem;
    padding-bottom: 2.4rem; }
  .pt-lg-6 {
    padding-top: 2.4rem; }
  .pr-lg-6 {
    padding-right: 2.4rem; }
  .pb-lg-6 {
    padding-bottom: 2.4rem; }
  .pl-lg-6 {
    padding-left: 2.4rem; }
  .px-lg-7 {
    padding-left: 2.8rem;
    padding-right: 2.8rem; }
  .py-lg-7 {
    padding-top: 2.8rem;
    padding-bottom: 2.8rem; }
  .pt-lg-7 {
    padding-top: 2.8rem; }
  .pr-lg-7 {
    padding-right: 2.8rem; }
  .pb-lg-7 {
    padding-bottom: 2.8rem; }
  .pl-lg-7 {
    padding-left: 2.8rem; }
  .px-lg-8 {
    padding-left: 3.2rem;
    padding-right: 3.2rem; }
  .py-lg-8 {
    padding-top: 3.2rem;
    padding-bottom: 3.2rem; }
  .pt-lg-8 {
    padding-top: 3.2rem; }
  .pr-lg-8 {
    padding-right: 3.2rem; }
  .pb-lg-8 {
    padding-bottom: 3.2rem; }
  .pl-lg-8 {
    padding-left: 3.2rem; }
  .px-lg-9 {
    padding-left: 3.6rem;
    padding-right: 3.6rem; }
  .py-lg-9 {
    padding-top: 3.6rem;
    padding-bottom: 3.6rem; }
  .pt-lg-9 {
    padding-top: 3.6rem; }
  .pr-lg-9 {
    padding-right: 3.6rem; }
  .pb-lg-9 {
    padding-bottom: 3.6rem; }
  .pl-lg-9 {
    padding-left: 3.6rem; }
  .px-lg-10 {
    padding-left: 4rem;
    padding-right: 4rem; }
  .py-lg-10 {
    padding-top: 4rem;
    padding-bottom: 4rem; }
  .pt-lg-10 {
    padding-top: 4rem; }
  .pr-lg-10 {
    padding-right: 4rem; }
  .pb-lg-10 {
    padding-bottom: 4rem; }
  .pl-lg-10 {
    padding-left: 4rem; }
  .px-lg-11 {
    padding-left: 4.4rem;
    padding-right: 4.4rem; }
  .py-lg-11 {
    padding-top: 4.4rem;
    padding-bottom: 4.4rem; }
  .pt-lg-11 {
    padding-top: 4.4rem; }
  .pr-lg-11 {
    padding-right: 4.4rem; }
  .pb-lg-11 {
    padding-bottom: 4.4rem; }
  .pl-lg-11 {
    padding-left: 4.4rem; } }

.btn {
  padding: 8px 16px;
  outline: none;
  cursor: pointer;
  text-decoration: none;
  color: #262C33;
  font-size: 1.4rem;
  border: 1px solid #DFDFDF;
  border-radius: 4px;
  transition: ease-in-out all 0.4s; }
  .btn-primary {
    color: #262C33;
    background-color: #5353dc; }
  .btn-hover:hover {
    background-color: rgba(28, 27, 29, 0.9);
    color: rgba(255, 255, 255, 0.9) !important; }
  .btn-active {
    background-color: rgba(0, 0, 255, 0.8);
    color: white;
    transition: all 0.4s ease-in-out; }
  .btn-white {
    background-color: #ffffff;
    color: black; }
  .btn-circle {
    border-radius: 50%; }

.form-search {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  display: none;
  z-index: 1231231231; }
  .form-search .form-group {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    position: relative;
    width: 100%;
    z-index: 1231231231; }
  .form-search span {
    position: absolute;
    right: 3px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    height: 44px;
    border-radius: 0 4px 4px 0;
    cursor: pointer; }
  .form-search .form-control {
    width: 100%;
    padding: 8px 12px;
    margin-right: 2px;
    border: 1px solid #292929;
    width: 94%;
    margin-right: 2px;
    padding: 11px 12px;
    border: 1px solid rgba(41, 41, 41, 0.9);
    border-radius: 4px; }
  .form-search button {
    padding: 11px 30px;
    border: 1px solid rgba(41, 41, 41, 0.9);
    z-index: 1231231231;
    border-radius: 4px; }

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 10; }

.form {
  position: relative;
  z-index: 200;
  width: 100%;
  padding: 40px 20px;
  border-radius: 4px;
  box-shadow: 5px 5px 20px rgba(41, 41, 41, 0.8);
  background-color: rgba(83, 83, 220, 0.9); }
  .form-group {
    display: flex;
    flex-direction: column;
    height: 60px;
    width: 100%;
    margin: 20px 0; }
  .form-label {
    font-size: 1.6rem;
    color: #292929;
    line-height: 2rem;
    padding: 8px 0; }
  .form-control {
    width: 100%;
    padding: 8px 12px;
    margin-right: 2px;
    border: 1px solid #292929;
    border-radius: 4px;
    font-size: 1.6rem; }
    .form-control::placeholder {
      font-size: 1.5rem; }
  .form .icon-close {
    display: inline-block;
    position: absolute;
    top: 20px;
    right: 20px;
    color: rgba(41, 41, 41, 0.8);
    font-size: 3rem; }
    .form .icon-close:hover {
      color: black;
      cursor: pointer; }

.card {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column; }
  .card:hover img {
    transform: scale(1.08); }
  .card:hover .card-img::after {
    opacity: 1;
    visibility: visible; }
  .card:hover .heading a {
    color: black; }
  .card-img {
    width: 100%;
    height: 148px;
    display: block;
    overflow: hidden;
    position: relative; }
    .card-img::after {
      display: block;
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      top: 0;
      right: 0;
      background-color: rgba(224, 224, 224, 0.4);
      opacity: 0;
      visibility: hidden;
      transition: ease-in 0.3s all; }
    .card-img img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: all 0.3s ease-in-out; }
  .card-content {
    padding: 12px;
    flex: 1; }
    .card-content .heading a {
      font-size: 1.8rem;
      line-height: 2.4rem;
      padding-bottom: 8px;
      transition: ease-in 0.3s all;
      display: block;
      max-height: 48px;
      overflow: hidden;
      text-overflow: ellipsis; }
    .card-content .desc {
      font-size: 1.4rem;
      line-height: 1.8rem;
      max-height: 56px;
      overflow: hidden;
      text-overflow: ellipsis; }
  .card-info {
    padding: 8px 12px 16px; }
    .card-info .author-link {
      display: flex;
      justify-content: start;
      align-items: center; }
      .card-info .author-link .name {
        font-size: 1.4rem; }
    .card-info .rating {
      display: flex;
      justify-content: start;
      align-items: center;
      padding: 12px 0;
      cursor: pointer; }
      .card-info .rating i {
        color: #D1D7D5; }
      .card-info .rating span {
        color: #262C33;
        font-size: 1.3rem; }
      .card-info .rating .star-gold {
        color: orange; }
    .card-info .registed i, .card-info .registed span {
      font-size: 1.6rem; }
    .card-info .price .btn {
      border-radius: 20px;
      font-size: 1.6rem;
      padding: 6px 9px;
      color: white;
      border: 0; }
    .card-info .price span {
      position: relative; }
      .card-info .price span::after {
        display: inline-block;
        content: 'đ';
        position: absolute;
        top: 0;
        right: 0; }

.grid {
  width: 100%;
  display: grid;
  padding: 0; }
  .grid.wide {
    max-width: 1200px;
    margin: 0 auto; }
  .grid.grid-cols-0 {
    grid-template-columns: repeat(0, minmax(0, 0fr)); }
  .grid.grid-cols-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr)); }
  .grid.grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 2fr)); }
  .grid.grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 3fr)); }
  .grid.grid-cols-4 {
    grid-template-columns: repeat(4, minmax(0, 4fr)); }
  .grid.grid-cols-5 {
    grid-template-columns: repeat(5, minmax(0, 5fr)); }
  .grid.grid-cols-6 {
    grid-template-columns: repeat(6, minmax(0, 6fr)); }
  .grid.grid-cols-7 {
    grid-template-columns: repeat(7, minmax(0, 7fr)); }
  .grid.grid-cols-8 {
    grid-template-columns: repeat(8, minmax(0, 8fr)); }
  .grid.grid-cols-9 {
    grid-template-columns: repeat(9, minmax(0, 9fr)); }
  .grid.grid-cols-10 {
    grid-template-columns: repeat(10, minmax(0, 10fr)); }
  .grid.grid-cols-11 {
    grid-template-columns: repeat(11, minmax(0, 11fr)); }
  .grid.grid-cols-12 {
    grid-template-columns: repeat(12, minmax(0, 12fr)); }
  .grid .col-none {
    display: none; }
  .grid .col-span-0 {
    grid-column: span 0/span 0; }
  .grid .col-span-1 {
    grid-column: span 1/span 1; }
  .grid .col-span-2 {
    grid-column: span 2/span 2; }
  .grid .col-span-3 {
    grid-column: span 3/span 3; }
  .grid .col-span-4 {
    grid-column: span 4/span 4; }
  .grid .col-span-5 {
    grid-column: span 5/span 5; }
  .grid .col-span-6 {
    grid-column: span 6/span 6; }
  .grid .col-span-7 {
    grid-column: span 7/span 7; }
  .grid .col-span-8 {
    grid-column: span 8/span 8; }
  .grid .col-span-9 {
    grid-column: span 9/span 9; }
  .grid .col-span-10 {
    grid-column: span 10/span 10; }
  .grid .col-span-11 {
    grid-column: span 11/span 11; }
  .grid .col-span-12 {
    grid-column: span 12/span 12; }
  .grid .col-start-1 {
    grid-column-start: 1; }
  .grid .col-start-2 {
    grid-column-start: 2; }
  .grid .col-start-3 {
    grid-column-start: 3; }
  .grid .col-start-4 {
    grid-column-start: 4; }
  .grid .col-start-5 {
    grid-column-start: 5; }
  .grid .col-start-6 {
    grid-column-start: 6; }
  .grid .col-start-7 {
    grid-column-start: 7; }
  .grid .col-start-8 {
    grid-column-start: 8; }
  .grid .col-start-9 {
    grid-column-start: 9; }
  .grid .col-start-10 {
    grid-column-start: 10; }
  .grid .col-start-11 {
    grid-column-start: 11; }
  .grid .col-start-12 {
    grid-column-start: 12; }
  .grid .col-start-13 {
    grid-column-start: 13; }
  .grid .col-end-1 {
    grid-column-end: 1; }
  .grid .col-end-2 {
    grid-column-end: 2; }
  .grid .col-end-3 {
    grid-column-end: 3; }
  .grid .col-end-4 {
    grid-column-end: 4; }
  .grid .col-end-5 {
    grid-column-end: 5; }
  .grid .col-end-6 {
    grid-column-end: 6; }
  .grid .col-end-7 {
    grid-column-end: 7; }
  .grid .col-end-8 {
    grid-column-end: 8; }
  .grid .col-end-9 {
    grid-column-end: 9; }
  .grid .col-end-10 {
    grid-column-end: 10; }
  .grid .col-end-11 {
    grid-column-end: 11; }
  .grid .col-end-12 {
    grid-column-end: 12; }
  .grid .col-end-13 {
    grid-column-end: 13; }
  .grid.gap-0 {
    gap: 0rem; }
  .grid.gap-x-0 {
    column-gap: 0rem; }
  .grid.gap-1 {
    gap: 0.4rem; }
  .grid.gap-x-1 {
    column-gap: 0.4rem; }
  .grid.gap-2 {
    gap: 0.8rem; }
  .grid.gap-x-2 {
    column-gap: 0.8rem; }
  .grid.gap-3 {
    gap: 1.2rem; }
  .grid.gap-x-3 {
    column-gap: 1.2rem; }
  .grid.gap-4 {
    gap: 1.6rem; }
  .grid.gap-x-4 {
    column-gap: 1.6rem; }
  @media screen and (min-width: 740px) {
    .grid.gap-md-0 {
      gap: 0rem; }
    .grid.gap-md-1 {
      gap: 0.4rem; }
    .grid.gap-md-2 {
      gap: 0.8rem; }
    .grid.gap-md-3 {
      gap: 1.2rem; }
    .grid.gap-md-4 {
      gap: 1.6rem; }
    .grid.grid-cols-md-0 {
      grid-template-columns: repeat(0, minmax(0, 0fr)); }
    .grid.grid-cols-md-1 {
      grid-template-columns: repeat(1, minmax(0, 1fr)); }
    .grid.grid-cols-md-2 {
      grid-template-columns: repeat(2, minmax(0, 2fr)); }
    .grid.grid-cols-md-3 {
      grid-template-columns: repeat(3, minmax(0, 3fr)); }
    .grid.grid-cols-md-4 {
      grid-template-columns: repeat(4, minmax(0, 4fr)); }
    .grid.grid-cols-md-5 {
      grid-template-columns: repeat(5, minmax(0, 5fr)); }
    .grid.grid-cols-md-6 {
      grid-template-columns: repeat(6, minmax(0, 6fr)); }
    .grid.grid-cols-md-7 {
      grid-template-columns: repeat(7, minmax(0, 7fr)); }
    .grid.grid-cols-md-8 {
      grid-template-columns: repeat(8, minmax(0, 8fr)); }
    .grid.grid-cols-md-9 {
      grid-template-columns: repeat(9, minmax(0, 9fr)); }
    .grid.grid-cols-md-10 {
      grid-template-columns: repeat(10, minmax(0, 10fr)); }
    .grid.grid-cols-md-11 {
      grid-template-columns: repeat(11, minmax(0, 11fr)); }
    .grid.grid-cols-md-12 {
      grid-template-columns: repeat(12, minmax(0, 12fr)); }
    .grid .col-span-md-0, .grid .col-span-md-1, .grid .col-span-md-2, .grid .col-span-md-3, .grid .col-span-md-4, .grid .col-span-md-5, .grid .col-span-md-6, .grid .col-span-md-7, .grid .col-span-md-8, .grid .col-span-md-9, .grid .col-span-md-10, .grid .col-span-md-11, .grid .col-span-md-12 {
      display: block; }
    .grid .col-span-md-0 {
      grid-column: span 0/span 0; }
    .grid .col-span-md-1 {
      grid-column: span 1/span 1; }
    .grid .col-span-md-2 {
      grid-column: span 2/span 2; }
    .grid .col-span-md-3 {
      grid-column: span 3/span 3; }
    .grid .col-span-md-4 {
      grid-column: span 4/span 4; }
    .grid .col-span-md-5 {
      grid-column: span 5/span 5; }
    .grid .col-span-md-6 {
      grid-column: span 6/span 6; }
    .grid .col-span-md-7 {
      grid-column: span 7/span 7; }
    .grid .col-span-md-8 {
      grid-column: span 8/span 8; }
    .grid .col-span-md-9 {
      grid-column: span 9/span 9; }
    .grid .col-span-md-10 {
      grid-column: span 10/span 10; }
    .grid .col-span-md-11 {
      grid-column: span 11/span 11; }
    .grid .col-span-md-12 {
      grid-column: span 12/span 12; }
    .grid .col-start-md-1 {
      grid-column-start: 1; }
    .grid .col-start-md-2 {
      grid-column-start: 2; }
    .grid .col-start-md-3 {
      grid-column-start: 3; }
    .grid .col-start-md-4 {
      grid-column-start: 4; }
    .grid .col-start-md-5 {
      grid-column-start: 5; }
    .grid .col-start-md-6 {
      grid-column-start: 6; }
    .grid .col-start-md-7 {
      grid-column-start: 7; }
    .grid .col-start-md-8 {
      grid-column-start: 8; }
    .grid .col-start-md-9 {
      grid-column-start: 9; }
    .grid .col-start-md-10 {
      grid-column-start: 10; }
    .grid .col-start-md-11 {
      grid-column-start: 11; }
    .grid .col-start-md-12 {
      grid-column-start: 12; }
    .grid .col-start-md-13 {
      grid-column-start: 13; }
    .grid .col-end-md-1 {
      grid-column-end: 1; }
    .grid .col-end-md-2 {
      grid-column-end: 2; }
    .grid .col-end-md-3 {
      grid-column-end: 3; }
    .grid .col-end-md-4 {
      grid-column-end: 4; }
    .grid .col-end-md-5 {
      grid-column-end: 5; }
    .grid .col-end-md-6 {
      grid-column-end: 6; }
    .grid .col-end-md-7 {
      grid-column-end: 7; }
    .grid .col-end-md-8 {
      grid-column-end: 8; }
    .grid .col-end-md-9 {
      grid-column-end: 9; }
    .grid .col-end-md-10 {
      grid-column-end: 10; }
    .grid .col-end-md-11 {
      grid-column-end: 11; }
    .grid .col-end-md-12 {
      grid-column-end: 12; }
    .grid .col-end-md-13 {
      grid-column-end: 13; } }
  @media screen and (min-width: 1113px) {
    .grid.grid-cols-lg-0 {
      grid-template-columns: repeat(0, minmax(0, 0fr)); }
    .grid.grid-cols-lg-1 {
      grid-template-columns: repeat(1, minmax(0, 1fr)); }
    .grid.grid-cols-lg-2 {
      grid-template-columns: repeat(2, minmax(0, 2fr)); }
    .grid.grid-cols-lg-3 {
      grid-template-columns: repeat(3, minmax(0, 3fr)); }
    .grid.grid-cols-lg-4 {
      grid-template-columns: repeat(4, minmax(0, 4fr)); }
    .grid.grid-cols-lg-5 {
      grid-template-columns: repeat(5, minmax(0, 5fr)); }
    .grid.grid-cols-lg-6 {
      grid-template-columns: repeat(6, minmax(0, 6fr)); }
    .grid.grid-cols-lg-7 {
      grid-template-columns: repeat(7, minmax(0, 7fr)); }
    .grid.grid-cols-lg-8 {
      grid-template-columns: repeat(8, minmax(0, 8fr)); }
    .grid.grid-cols-lg-9 {
      grid-template-columns: repeat(9, minmax(0, 9fr)); }
    .grid.grid-cols-lg-10 {
      grid-template-columns: repeat(10, minmax(0, 10fr)); }
    .grid.grid-cols-lg-11 {
      grid-template-columns: repeat(11, minmax(0, 11fr)); }
    .grid.grid-cols-lg-12 {
      grid-template-columns: repeat(12, minmax(0, 12fr)); }
    .grid.gap-lg-0 {
      gap: 0rem; }
    .grid.gap-lg-1 {
      gap: 0.4rem; }
    .grid.gap-lg-2 {
      gap: 0.8rem; }
    .grid.gap-lg-3 {
      gap: 1.2rem; }
    .grid.gap-lg-4 {
      gap: 1.6rem; }
    .grid .col-span-lg-0 {
      grid-column: span 0/span 0; }
    .grid .col-span-lg-1 {
      grid-column: span 1/span 1; }
    .grid .col-span-lg-2 {
      grid-column: span 2/span 2; }
    .grid .col-span-lg-3 {
      grid-column: span 3/span 3; }
    .grid .col-span-lg-4 {
      grid-column: span 4/span 4; }
    .grid .col-span-lg-5 {
      grid-column: span 5/span 5; }
    .grid .col-span-lg-6 {
      grid-column: span 6/span 6; }
    .grid .col-span-lg-7 {
      grid-column: span 7/span 7; }
    .grid .col-span-lg-8 {
      grid-column: span 8/span 8; }
    .grid .col-span-lg-9 {
      grid-column: span 9/span 9; }
    .grid .col-span-lg-10 {
      grid-column: span 10/span 10; }
    .grid .col-span-lg-11 {
      grid-column: span 11/span 11; }
    .grid .col-span-lg-12 {
      grid-column: span 12/span 12; }
    .grid .col-start-lg-1 {
      grid-column-start: 1; }
    .grid .col-start-lg-2 {
      grid-column-start: 2; }
    .grid .col-start-lg-3 {
      grid-column-start: 3; }
    .grid .col-start-lg-4 {
      grid-column-start: 4; }
    .grid .col-start-lg-5 {
      grid-column-start: 5; }
    .grid .col-start-lg-6 {
      grid-column-start: 6; }
    .grid .col-start-lg-7 {
      grid-column-start: 7; }
    .grid .col-start-lg-8 {
      grid-column-start: 8; }
    .grid .col-start-lg-9 {
      grid-column-start: 9; }
    .grid .col-start-lg-10 {
      grid-column-start: 10; }
    .grid .col-start-lg-11 {
      grid-column-start: 11; }
    .grid .col-start-lg-12 {
      grid-column-start: 12; }
    .grid .col-start-lg-13 {
      grid-column-start: 13; }
    .grid .col-end-lg-1 {
      grid-column-end: 1; }
    .grid .col-end-lg-2 {
      grid-column-end: 2; }
    .grid .col-end-lg-3 {
      grid-column-end: 3; }
    .grid .col-end-lg-4 {
      grid-column-end: 4; }
    .grid .col-end-lg-5 {
      grid-column-end: 5; }
    .grid .col-end-lg-6 {
      grid-column-end: 6; }
    .grid .col-end-lg-7 {
      grid-column-end: 7; }
    .grid .col-end-lg-8 {
      grid-column-end: 8; }
    .grid .col-end-lg-9 {
      grid-column-end: 9; }
    .grid .col-end-lg-10 {
      grid-column-end: 10; }
    .grid .col-end-lg-11 {
      grid-column-end: 11; }
    .grid .col-end-lg-12 {
      grid-column-end: 12; }
    .grid .col-end-lg-13 {
      grid-column-end: 13; } }
  @media (min-width: 740px) and (max-width: 1023px) {
    .grid.wide {
      width: 644px; } }
  @media (min-width: 1024px) and (max-width: 1239px) {
    .grid.wide {
      width: 984px; }
      .grid.wide.gap-0 {
        gap: 0rem; }
      .grid.wide.gap-1 {
        gap: 0.4rem; }
      .grid.wide.gap-2 {
        gap: 0.8rem; }
      .grid.wide.gap-3 {
        gap: 1.2rem; }
      .grid.wide.gap-4 {
        gap: 1.6rem; }
      .grid.wide.grid-cols-lg-0 {
        grid-template-columns: repeat(0, minmax(0, 0fr)); }
      .grid.wide.grid-cols-lg-1 {
        grid-template-columns: repeat(1, minmax(0, 1fr)); }
      .grid.wide.grid-cols-lg-2 {
        grid-template-columns: repeat(2, minmax(0, 2fr)); }
      .grid.wide.grid-cols-lg-3 {
        grid-template-columns: repeat(3, minmax(0, 3fr)); }
      .grid.wide.grid-cols-lg-4 {
        grid-template-columns: repeat(4, minmax(0, 4fr)); }
      .grid.wide.grid-cols-lg-5 {
        grid-template-columns: repeat(5, minmax(0, 5fr)); }
      .grid.wide.grid-cols-lg-6 {
        grid-template-columns: repeat(6, minmax(0, 6fr)); }
      .grid.wide.grid-cols-lg-7 {
        grid-template-columns: repeat(7, minmax(0, 7fr)); }
      .grid.wide.grid-cols-lg-8 {
        grid-template-columns: repeat(8, minmax(0, 8fr)); }
      .grid.wide.grid-cols-lg-9 {
        grid-template-columns: repeat(9, minmax(0, 9fr)); }
      .grid.wide.grid-cols-lg-10 {
        grid-template-columns: repeat(10, minmax(0, 10fr)); }
      .grid.wide.grid-cols-lg-11 {
        grid-template-columns: repeat(11, minmax(0, 11fr)); }
      .grid.wide.grid-cols-lg-12 {
        grid-template-columns: repeat(12, minmax(0, 12fr)); }
      .grid.wide .col-span-lg-0, .grid.wide .col-span-lg-1, .grid.wide .col-span-lg-2, .grid.wide .col-span-lg-3, .grid.wide .col-span-lg-4, .grid.wide .col-span-lg-5, .grid.wide .col-span-lg-6, .grid.wide .col-span-lg-7, .grid.wide .col-span-lg-8, .grid.wide .col-span-lg-9, .grid.wide .col-span-lg-10, .grid.wide .col-span-lg-11, .grid.wide .col-span-lg-12 {
        display: block; }
      .grid.wide .col-span-lg-0 {
        grid-column: span 0/span 0; }
      .grid.wide .col-span-lg-1 {
        grid-column: span 1/span 1; }
      .grid.wide .col-span-lg-2 {
        grid-column: span 2/span 2; }
      .grid.wide .col-span-lg-3 {
        grid-column: span 3/span 3; }
      .grid.wide .col-span-lg-4 {
        grid-column: span 4/span 4; }
      .grid.wide .col-span-lg-5 {
        grid-column: span 5/span 5; }
      .grid.wide .col-span-lg-6 {
        grid-column: span 6/span 6; }
      .grid.wide .col-span-lg-7 {
        grid-column: span 7/span 7; }
      .grid.wide .col-span-lg-8 {
        grid-column: span 8/span 8; }
      .grid.wide .col-span-lg-9 {
        grid-column: span 9/span 9; }
      .grid.wide .col-span-lg-10 {
        grid-column: span 10/span 10; }
      .grid.wide .col-span-lg-11 {
        grid-column: span 11/span 11; }
      .grid.wide .col-span-lg-12 {
        grid-column: span 12/span 12; }
      .grid.wide .col-start-lg-1 {
        grid-column-start: 1; }
      .grid.wide .col-start-lg-2 {
        grid-column-start: 2; }
      .grid.wide .col-start-lg-3 {
        grid-column-start: 3; }
      .grid.wide .col-start-lg-4 {
        grid-column-start: 4; }
      .grid.wide .col-start-lg-5 {
        grid-column-start: 5; }
      .grid.wide .col-start-lg-6 {
        grid-column-start: 6; }
      .grid.wide .col-start-lg-7 {
        grid-column-start: 7; }
      .grid.wide .col-start-lg-8 {
        grid-column-start: 8; }
      .grid.wide .col-start-lg-9 {
        grid-column-start: 9; }
      .grid.wide .col-start-lg-10 {
        grid-column-start: 10; }
      .grid.wide .col-start-lg-11 {
        grid-column-start: 11; }
      .grid.wide .col-start-lg-12 {
        grid-column-start: 12; }
      .grid.wide .col-start-lg-13 {
        grid-column-start: 13; }
      .grid.wide .col-end-lg-1 {
        grid-column-end: 1; }
      .grid.wide .col-end-lg-2 {
        grid-column-end: 2; }
      .grid.wide .col-end-lg-3 {
        grid-column-end: 3; }
      .grid.wide .col-end-lg-4 {
        grid-column-end: 4; }
      .grid.wide .col-end-lg-5 {
        grid-column-end: 5; }
      .grid.wide .col-end-lg-6 {
        grid-column-end: 6; }
      .grid.wide .col-end-lg-7 {
        grid-column-end: 7; }
      .grid.wide .col-end-lg-8 {
        grid-column-end: 8; }
      .grid.wide .col-end-lg-9 {
        grid-column-end: 9; }
      .grid.wide .col-end-lg-10 {
        grid-column-end: 10; }
      .grid.wide .col-end-lg-11 {
        grid-column-end: 11; }
      .grid.wide .col-end-lg-12 {
        grid-column-end: 12; }
      .grid.wide .col-end-lg-13 {
        grid-column-end: 13; } }

.header {
  background-color: rgba(201, 201, 201, 0.2); }
  .header .main-nav {
    height: 68px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .header .main-nav__center {
      margin-left: 20px;
      flex: 1;
      display: flex;
      justify-content: start;
      align-items: center;
      height: 100%; }
    .header .main-nav .title {
      padding: 0 18px;
      border-left: 2px solid #292929;
      font-size: 2.2rem;
      color: #262C33;
      font-weight: 700;
      line-height: 3rem;
      margin: 0; }
    .header .main-nav__list {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%; }
    .header .main-nav__item {
      margin: 0 4px;
      position: relative;
      transition: all 0.2s ease-in-out !important; }
      .header .main-nav__item:hover a {
        color: rgba(97, 97, 97, 0.867); }
      .header .main-nav__item:hover::after {
        display: block; }
      .header .main-nav__item::after {
        position: absolute;
        content: '';
        display: none;
        bottom: -8px;
        left: 50%;
        width: 80%;
        height: 1px;
        transform: translate(-50%, -50%);
        background-color: rgba(97, 97, 97, 0.867); }
    .header .main-nav .right-menu a:hover {
      color: rgba(97, 97, 97, 0.867); }
    .header .main-nav .right-menu a {
      border: 1px solid rgba(97, 97, 97, 0.867);
      margin-left: 8px;
      border-radius: 50%;
      font-size: 1.4rem;
      line-height: 1.6rem;
      font-weight: 400;
      padding: 6px 0;
      position: relative; }
    .header .main-nav .right-menu ul li:first-child a {
      border: 0;
      border-radius: 0; }
    .header .main-nav .right-menu ul li:first-child a:hover {
      border-bottom: 1px solid #292929; }
    .header .main-nav .right-menu i {
      padding: 8px; }

.logo {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }
  .logo-img {
    width: 32px;
    margin-right: 5px; }
  .logo-text {
    font-size: 3.4rem !important;
    line-height: 3.6rem !important;
    font-weight: 600 !important;
    color: #a11dee !important; }
    .logo-text span {
      color: #5353dc;
      font-size: 1em;
      line-height: 1em; }

.course-sidebar__heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 20px;
  cursor: pointer;
  transition: 0.3s; }
  .course-sidebar__heading .heading {
    font-size: 1.4rem;
    font-weight: 600; }
  .course-sidebar__heading:hover .heading, .course-sidebar__heading:hover i {
    color: #5353dc; }
  .course-sidebar__heading i {
    font-size: 1rem;
    padding-top: 10px; }
  .course-sidebar__heading.active:hover .heading, .course-sidebar__heading.active:hover i {
    color: #262C33; }

.course-sidebar .list-group, .course-sidebar .list-group-item {
  display: none; }
  .course-sidebar .list-group-item {
    border-color: rgba(223, 223, 223, 0.6);
    padding: 12px 25px;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.7);
    transition: all .3s ease-in-out; }
    .course-sidebar .list-group-item:first-child {
      border-top: 0; }
    .course-sidebar .list-group-item:hover a {
      padding-left: 12px;
      color: #5353dc; }
    .course-sidebar .list-group-item.active a {
      color: #5353dc; }
    .course-sidebar .list-group-item a {
      font-size: 1.4rem;
      transition: 0.4s; }

.course-sidebar.active .list-group, .course-sidebar.active .list-group-item {
  display: block; }

.course-list-icon a {
  height: 34px;
  width: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  margin-left: 4px; }

.footer ul li {
  padding: 4px 0;
  margin: 4px 0; }
  .footer ul li a {
    color: rgba(255, 255, 255, 0.7);
    font-size: 1.4rem;
    transition: all 0.3s ease-in-out; }
    .footer ul li a:hover {
      color: rgba(83, 83, 220, 0.8); }

.footer p {
  color: rgba(255, 255, 255, 0.7);
  font-size: 1.4rem;
  line-height: 2rem; }

.footer-logo .logo {
  display: flex;
  justify-content: start;
  align-items: center; }

@media (max-width: 1024px) {
  .hide-on-mb-tl {
    display: none !important; } }

@media (min-width: 641px) and (max-width: 1024px) {
  .hide-on-tl {
    display: none !important; } }

@media (max-width: 640px) {
  .hide-on-mb {
    display: none !important; }
  .text-center-sm {
    text-align: center !important; } }
